/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 * Default config for all environments
 */


manifest {
    mainScript = 'main.nf'
    author = 'Caspar Groß'
    homePage = 'https://github.com/caspargross/hybridAssembly'
    description = 'Hybrid assembly pipeline using long and short reads'
    name = 'HybridAssembly'
    nextflowVersion = '>=0.32.0'
    version = '0.5'
}

profiles 
    {
    standard {
        includeConfig 'conf/base.config'
        includeConfig 'conf/docker.config'
    }
    app {
        includeConfig 'conf/app.config'
        includeConfig 'conf/singularity.config'
    }
    local {
        includeConfig 'conf/base.config'
    }   
    test {
        includeConfig 'conf/test.config'
        includeConfig 'conf/docker.config'
    }
    testlr {
        includeConfig 'conf/testlr.config'
        includeConfig 'conf/docker.config'
    }
    testsingularity {
        includeConfig 'conf/test.config'
        includeConfig 'conf/singularity.config'
    }
    testlrsingularity {
        includeConfig 'conf/testlr.config'
        includeConfig 'conf/singularity.config'
    }
    testlocal {
        includeConfig 'conf/test.config'
    }
}


