manifest {
    mainScript = 'main.nf'
}

params {
    cpu = 10
    mem = 100
    pathFile = 'file_locations.csv'
    outFolder = '/mnt/users/ahgrosc1/genomes/'
    reference = '/mnt/share/data/genomes/Microbiome/Citrobacter/Citrobacter_freundii_CFNIH1/pathoLogic/Citrobacter_freundii_CFNIH1_pathoLogic.fasta'
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 1
        }   

        env{
            SPADES = '/mnt/share/opt/SPAdes-3.11.1-Linux/bin/spades.py'
            SSPACE = '/mnt/users/ahgrosc1/tools/SSPACE-LongRead_v1-1/SSPACE-LongRead.pl'
            GAPFILLER = '/mnt/share/opt/GapFiller_v1-10_linux-x86_64/GapFiller.pl'
            LINKS = '/mnt/users/ahgrosc1/tools/links_v1.8.5/LINKS.pl'
            MUMMER = '/mnt/users/ahgrosc1/tools/mummer/bin'
            PORECHOP = '/mnt/users/ahgrosc1/tools/Porechop/porechop-runner.py'
            FILTLONG = '/mnt/users/ahgrosc1/tools/Filtlong/bin/filtlong'
            BOWTIE2 = '/mnt/share/opt/bowtie2-2.2.4/bowtie2'
            PILON = '/mnt/users/ahgrosc1/tools/pilon-1.22.jar'
            PAUVRE = 'pauvre'
        }
    }
}


