/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 * Default config for all environments
 */


manifest {
    mainScript = 'main.nf'
    author = 'Caspar Groß'
    homePage = 'https://github.com/caspargross/hybridAssembly'
    description = 'Hybrid assembly pipeline using long and short reads'
    name = 'HybridAssembly'
    nextflowVersion = '>=0.32.0'
    version = '0.5'
}

profiles 
    {
    standard {
        includeConfig 'conf/base.config'
 //       includeConfig 'conf/docker.config'
    }
    app {
        includeConfig 'conf/app.config'
//        includeConfig 'conf/docker.config'
    }
    local {
        includeConfig 'conf/base.config'
    }   
    test {
        includeConfig 'conf/test.config'
//        includeConfig 'conf/docker.config'
    }
    testlr {
        includeConfig 'conf/testlr.config'
//        includeConfig 'conf/docker.config'
    }
    testsingularity {
        includeConfig 'conf/test.config'
        includeConfig 'conf/singularity.config'
    }
    testlrsingularity {
        includeConfig 'conf/testlr.config'
        includeConfig 'conf/singularity.config'
    }
    testlocal {
        includeConfig 'conf/test.config'
    }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}

