/*
 *-------------------------------------  
 * HYBRID ASSEMBLY APP CONFIGURATION
 *-------------------------------------
 * Configuration to run inside the pathoLogic app
 */

params {
    help = false 
    version = false
    outDir = false
    input = false
    outDir = false
    mode = false

    max_memory = 6.GB
    max_cpus = 4
    max_time = 2d
    
    genomeSize = 5300000
    targetLongReadCov = 100
    targetShortReadCov = 100
}

// Safe bash settings   
process.shell = ['/bin/bash', '-e']

singularity {
    enabled = true
}

executor {
    container = 'docker://caspargross/hybridassembly'
}


