/*
 *-------------------------------------  
 * HYBRID ASSEMBLY APP CONFIGURATION
 *-------------------------------------
 * Configuration to run inside the pathoLogic app
 */

params {
    help = false 
    version = false
    outDir = false
    input = false
    outDir = false
    mode = false

    max_memory = 6.GB
    max_cpus = 4
    max_time = 240.h
    
    genomeSize = 5300000
    targetLongReadCov = 100
    targetShortReadCov = 100

    py27 = "source ~/miniconda3/bin/activate ha_py27"
    py36 = "source ~/miniconda3/bin/activate ha_py36"
}

// Safe bash settings   
process.shell = ['/bin/bash', '-e']

process {
  // Check the defaults for all processes
  cpus = { check_max( 4 * task.attempt, 'cpus' ) } 
  memory = { check_max( 8.GB * task.attempt, 'memory' ) } 
  time = { check_max( 2.h * task.attempt, 'time' ) } 

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1 
  maxErrors = '-1'
}

