/*
 *-------------------------------------  
 * HYBRID ASSEMBLY APP CONFIGURATION
 *-------------------------------------
 * Conf for running with pathoLogic webApp
 */

params {
    cpu = 10                     // threads per  process
    queueSize = 4                // queueSize
    input = "read_locations.tsv" // input file location
    mode = false                 // no preset mode
    outDir = "${PWD}"            // output directory
    help = false                 // dont show help
    test = false                 // test data disabled
    version = false              // no version info
    createPlasmident = true      // run plasmident
    zipResults = true            // create zipped result folder
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "report.html"
}
trace {
// Turn on trace tracking 
    enabled = true
    file = "trace.txt"
}
