/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 * base configuration (no docker)
 */

params {
    input = false                // Required: select input file
    mode = 'unicycler'           // Mode Default: 'all'
    outDir = "${PWD}/assembly"   // Path to output directory

    genomeSize = 5300000         // Estimated bacterial genome size

    py27 = "source activate ha_py27" // Assume conda is already in path
    py36 = "source activate ha_py36" // Assume conda is already in path

    // Defaults only, expecting to be overwritten
    max_memory = 24.GB
    max_cpus = 8
    max_time = 240.h
}

// Safe bash settings   
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

process {

  // Check the defaults for all processes
  cpus = { check_max( params.max_cpus * task.attempt, 'cpus' ) }
  memory = { check_max( params.max_memory * task.attempt, 'memory' ) }
  time = { check_max( params.max_time * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}
