/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 * base configuration (no docker)
 */

params {
    help = false 
    version = false
    input = false                // Required: select input file
    mode = 'unicycler'           // Mode Default: 'all'
    outDir = "${PWD}/assembly"   // Path to output directory

    minContigLength = 1000       // Minimum contig length filter
    genomeSize = 5300000         // Estimated bacterial genome size
    targetShortReadCov = 100     // Target read coverage after subsampling
    targetLongReadCov = 100      // Target read coverage after subsampling
}

// Safe bash settings   
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

