/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 * base configuration (no docker)
 */

params {
    cpu = 10  // maximum of 10 cores per process
    mem = 100 // maximum 100 Gb of memory
    queueSize = 5 // Up to 5 parallel processes
    input = false // Required: select input file
    mode = false // Required: select mode
    outDir = "${PWD}" // Path to output directory
    help = false // Dont give help information
    test = false // Dont run test
    version = false // Dont show version info

    minContigLength = 1000 // Minimum contig length filter

    genomeSize = 5300000
    targetShortReadCov = 60
    targetLongReadCov = 60
    
    shortRead = false
    longRead = false
    fast = false
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

timeline {
// Turn on timeline tracking
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Timeline.html"
}

dag {
// Draw graph structure of pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_DAG.svg"
}

trace {
// Turn on trace tracking 
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_trace.txt"
}
