/*
 *-------------------------------------  
 * HYBRID ASSEMBLY MAIN CONFIGURATION
 *-------------------------------------
 *  Run with docker container
 */

process {
    container = $dockerRepository
}

docker {
    enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
}
