/*
 *-------------------------------------  
 * HYBRID ASSEMBLY TEST CONFIGURATION
 *-------------------------------------
 *
 */
params {
    input = "${baseDir}/testdata/test_files.tsv"
    mode = "all" 
    outDir = "${PWD}/testOut" 
    help = false 
    version = false

    genomeSize = 150000 
    targetShortReadCov = 150
    targetLongReadCov = 150
    minContigLength = 500
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

executor {
    name = 'local'
    cpus = 2
    queueSize = 2
    memory = '4g'
}
process {
    cpus = 2
    memory = '4g'
}

timeline {
// Turn on timeline tracking
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Timeline.html"
}

dag {
// Draw graph structure of pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_DAG.svg"
}

trace {
// Turn on trace tracking 
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_trace.txt"
}
