/*
 *-------------------------------------  
 * HYBRID ASSEMBLY TEST CONFIGURATION
 *-------------------------------------
 *
 */

params {
    cpu = 2
    mem = 5
    input = "samples_test.tsv" //TEST INPUT DIR
    mode = "all" // MODE: all
    outDir = "${PWD}" // Path to output directory
    help = false // Dont give help information

    genomeSize = 150000 
    targetShortReadCov = 60
    targetLongReadCov = 60
    
    shortReadOnly = false
    longReadOnly = false
    fast = false
}

// Safe bash settings
process.shell = ['/bin/bash', '-euo', 'pipefail']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

timeline {
// Turn on timeline tracking
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Timeline.html"
}

dag {
// Draw graph structure of pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_DAG.svg"
}

trace {
// Turn on trace tracking 
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_trace.txt"
}
