/*
 *-------------------------------------  
 * HYBRID ASSEMBLY TEST CONFIGURATION
 *-------------------------------------
 *
 */
params {
    cpu = 4
    mem = 5

    input = "${baseDir}/testdata/test_files_lr.tsv"
    mode = "all_lr" // MODE: all
    outDir = "${PWD}/testOut" // Path to output directory
    help = false // Dont give help information
    version = false // Dont show version info

    genomeSize = 150000 
    targetShortReadCov = 150
    targetLongReadCov = 150
    minContigLength = 500
    
    shortReadOnly = false
    longReadOnly = false
    fast = false
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report for nextflow pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Report.html"
}

timeline {
// Turn on timeline tracking
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_Timeline.html"
}

dag {
// Draw graph structure of pipeline
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_DAG.svg"
}

trace {
// Turn on trace tracking 
    enabled = true
    file = "${params.outDir}/Reports/HybridAssembly_trace.txt"
}
